<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Doing Dishes Decider</title>
<meta name="description"        content="For deciding who does the dishes">
<meta property="og:description" content="For deciding who does the dishes">
<meta property="og:title" content="Doing Dishes Decider">
<!-- <meta property="og:site_name" content="D3"> -->
<meta property="og:type" content="website">
<link rel="canonical"       href="https://doing-dishes-decider.onrender.com">
<meta property="og:url"  content="https://doing-dishes-decider.onrender.com">
<meta property="og:image" content="https://doing-dishes-decider.onrender.com/public/android-chrome-512x512.png">
<meta property="og:image:alt" content="Some dirty dishes">
<meta name="twitter:card" content="summary_large_image">
<link rel="icon" href="public/favicon.ico">
<link rel="apple-touch-icon"      sizes="180x180" href="public/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32"   href="public/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16"   href="public/favicon-16x16.png">
<link rel="manifest" href="public/site.webmanifest">
<script type="application/ld+json"> {
"@context": "https://schema.org",
"@type": "WebSite",
"name": "Doing Dishes Decider",
"url": "https://doing-dishes-decider.onrender.com",
"image": "https://doing-dishes-decider.onrender.com/public/android-chrome-512x512.png" }
</script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="public/style.css">
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-md-auto">
      <div class="title">
        {{today}}
      </div>
      <div class="title">
        Who's doing the dishes:
      </div>
      <div class="person">
        {{name}}
      </div>
      <div class="link">
        <a href="history">View History</a>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="public/client.js"></script>

</body>
</html>
